<html>
<meta charset="UTF-8">
<link rel="icon" href="{{ url_for('static',filename='favicon.ico')}}">
<script src="https://img.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
<script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
<script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style type="text/css" media="screen">

    body        { font-family: Microsoft YaHei;padding: 20px; font-size: 100%}
    table       { font-size: 100%;
    }
    .table tbody tr td{
                vertical-align: middle;
            }

    .heading .description, .attribute {
        clear: both;
    }
</style>
    <h2 align="center">{{context['appname'] }}包大小检查测试报告 {{ context['create_time'] }}</h2>
    <a class="btn btn-light" href="/" role="button" style="float:right">返回首页</a>
    <br/>
    <hr>
    <div class="panel">
        <div class="panel_title">
            <h4>应用信息</h4>
        </div>
        <div class="panel_main" id="appInfoDiv">
            <table class="table table-bordered" border="1" cellspacing="0" bordercolor="#778899" width = "80%">
                <colgroup>
                    <col style="width:92px;">
                </colgroup>
                <tbody>
                <tr>
                    <th>文件名</th>
                    <td colspan="5"align="left"><span class="cut">{{ context['filename'] }}</span></td>
                </tr>
                <tr>
                    <th>应用名称</th>
                    <td align="left"><span class="cut">{{ context['package'] }}</span></td>
                    <th>应用版本</th>
                    <td align="left"><span class="cut">{{ context['versionName'] }}</span></td>
                    <th>versionCode</th>
                    <td align="left"><span class="cut">{{ context['versionCode'] }}</span></td>

                </tr>
                <tr>
                    <th>minSdkVersion</th>
                    <td align="left"><span class="cut">{{ context['minSdkVersion'] }}</span></td>
                    <th>targetSdkVersion</th>
                    <td align="left"><span class="cut">{{ context['targetSdkVersion'] }}</span></td>
                    <th>包体大小区间/M</th>
                    <td align="left"><span class="cut">{{ context['interval_size'] }}</span></td>
                </tr>
                <tr>
                    <th>master.apk</th>
                    <td align="left"><span class="cut">{{ context['master'] }}</span></td>
                    <th>armeabi.apk</th>
                    <td align="left"><span class="cut">{{ context['armeabi'] }}</span></td>
                    <th>arm64_v8a.apk</th>
                    <td align="left"><span class="cut">{{ context['arm64_v8a'] }}</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

<!--    <h5>base-master.apk资源分布占比统计</h5>-->
    <div id="apk_percent" style="min-width:500px;height:400px"></div>
    <h5>base-master.apk资源详细信息</h5>
    <div class="table-sm table-striped table-bordered table-hover">
    {{ context['appdetail']|safe }}
    </div>
    <script>
        $(function () {
            $('#apk_percent').highcharts({
             chart: {
		plotBackgroundColor: null,
		plotBorderWidth: null,
		plotShadow: false,
		type: 'pie'
	},
	title: {
		text: 'base-master.apk资源分布占比统计'
	},
	tooltip: {
		pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
	},
	plotOptions: {
		pie: {
			allowPointSelect: true,
			cursor: 'pointer',
			dataLabels: {
				enabled: true,
				format: '<b>{point.name}</b>: {point.percentage:.1f} %',
				style: {
					color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
				}
			}
		}
	},
	series: [
	    {
		name: 'Brands',
		colorByPoint: true,
		data: [
            {{ context['appinfo']|safe }}
		]
	}]
});
        })
    </script>
    <style type="text/css">
    </style>
</body>
</html>


